.App {
  display: flex;

}

.Container {
    border: 1px solid red;
    width: 600px;
    height: 400px;
    margin: 100px auto 0 auto;
}

.ControlsContainer {
    width: 600px;
    margin: 10px auto;
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
}

.ControlsButton {
    width: 120px;
    height: 60px;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.A1 {

}

.MessageBox {
    position: absolute;
    top: 1px;
    background-color: red;
    width: 600px;
    height: 400px;
    margin: 100px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MessageBox::after {
    content: '';
    width: 200px;
    height: 200;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    height: 70px;
}
