.App {
  display: flex;

}

.Container {
    border: 1px solid red;
    width: 600px;
    height: 400px;
    margin: 100px auto 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
}

.ControlsContainer {
    width: 600px;
    margin: 10px auto;
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
}

.ControlsButton {
    width: 120px;
    height: 60px;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MessageBox {
    position: absolute;
    top: 1px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 600px;
    height: 400px;
    margin: 100px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MessageBox::after {
    content: '';
    width: 200px;
    height: 200;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    height: 70px;
}

.Timer {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid black;
    border-radius: 50%;
}

.GameOver {
    width: 600px;
    height: 600px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.GameOver input {
    display: block;
}
