.App {
  display: flex;

}

.Container {
    border: 1px solid red;
    width: 600px;
    height: 400px;
    margin: 100px auto 0 auto;
}

.ControlsContainer {
    width: 600px;
    margin: 10px auto;
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
}

.ControlsButton {
    width: 120px;
    height: 60px;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.A1 {
    
}
